<!-- Page Preloder -->
<div id="preloder">
     <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
     <div class="container">
          <div class="row">
               <div class="col-lg-2">
                    <div class="header__logo">
                         <a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/" ? "active" : "")" href="/home">
                              <img src="~/Content/themes/base/img/logo.png" alt="">
                         </a>
                    </div>
               </div>
               <div class="col-lg-8">
                    <div class="header__nav">
                         <nav class="header__menu mobile-menu">
                              <ul>
                                   <li class="active"><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/" ? "active" : "")" href="/home">HomePage</a></li>
                                   <li>
                                        <a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/categories" ? "active" : "")" href="/categories">Categories <span class="arrow_carrot-down"></span></a>
                                        <ul class="dropdown">
                                             <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/categories" ? "active" : "")" href="/categories">Categories</a></li>
                                             <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/anime_details" ? "active" : "")" href="/anime_details">Anime Details</a></li>
                                             <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/anime_watching" ? "active" : "")" href="/anime_watching">Anime Watching</a></li>
                                             <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/blog_details" ? "active" : "")" href="/blog_details">Blog Details</a></li>
                                             <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/sign_up" ? "active" : "")" href="/sign_up">Sign Up</a></li>
                                             <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/login" ? "active" : "")" href="/login">Login</a></li>
                                        </ul>
                                   </li>
                                   <li><a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/blog" ? "active" : "")" href="/blog">Our Blog</a></li>
                                   <li><a href="#">Contacts</a></li>
                              </ul>
                         </nav>
                    </div>
               </div>
               <div class="col-lg-2">
                    <div class="header__right">
                         <a href="#" class="search-switch"><span class="icon_search"></span></a>
                         <a class="@(Url.RouteUrl(ViewContext.RouteData.Values) == "/login" ? "active" : "")" href="/login"><span class="icon_profile"></span></a>
                    </div>
               </div>
          </div>
          <div id="mobile-menu-wrap"></div>
     </div>
</header>
<!-- Header End -->
