<!-- Page Preloder -->
<div id="preloder">
     <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
     <div class="container">
          <div class="row">
               <div class="col-lg-2">
                    <div class="header__logo">
                         <a href="@Url.Action("Index","Home")">
                              <img src="~/Content/img/logo.png" alt="">
                         </a>
                    </div>
               </div>
               <div class="col-lg-8">
                    <div class="header__nav">
                         <nav class="header__menu mobile-menu">
                              <ul>
                                   <li class="active"><a href="@Url.Action("Index","Home")">HomePage</a></li>
                                   <li>
                                        <a href="@Url.Action("Index","Categories")">Categories <span class="arrow_carrot-down"></span></a>
                                        <ul class="dropdown">
                                             <li><a href="@Url.Action("Index","Categories")">Categories</a></li>
                                             <li><a href="@Url.Action("Index","Anime_Details")">Anime Details</a></li>
                                             <li><a href="@Url.Action("Index","Anime_Watching")">Anime Watching</a></li>
                                             <li><a href="@Url.Action("Index","Blog_Details")">Blog Details</a></li>
                                             <li><a href="@Url.Action("Index","Sign_Up")">Sign Up</a></li>
                                             <li><a href="@Url.Action("Index","Login")">Login</a></li>
                                        </ul>
                                   </li>
                                   <li><a href="@Url.Action("Index","Blog")">Our Blog</a></li>
                                   <li><a href="#">Contacts</a></li>
                              </ul>
                         </nav>
                    </div>
               </div>
               <div class="col-lg-2">
                   <div class="header__right">
                       <a href="#" class="search-switch"><span class="icon_search"></span></a>

                       @{
                           if ((string)System.Web.HttpContext.Current.Session["LoginStatus"] == "login")
                           {
                               <span style="color: red">@Session["Username"]</span>
                           }
                           else
                           {
                               <a href="@Url.Action("Index","Login")"><span class="icon_profile"></span></a>
                           }
                       }

                       @*@Html.DisplayFor(u => u.Username)*@


                   </div>
               </div>
          </div>
          <div id="mobile-menu-wrap"></div>
     </div>
</header>
<!-- Header End -->
