@model FlixZone.Web.Models.UserLogin

<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="Content/img/normal-breadcrumb.jpg">
     <div class="container">
          <div class="row">
               <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                         <h2>Sign Up</h2>
                         <p>Welcome to the official Anime blog.</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- Normal Breadcrumb End -->
<!-- Signup Section Begin -->
<section class="signup spad">
     <div class="container">
          <div class="row">
               <div class="col-lg-6">
                   <div class="login__form">
                       <h3>Sign Up</h3>
                       @*@Html.AntiForgeryToken()

        <div class="input__item">

            @Html.ValidationMessageFor(UserLogin => UserLogin.Credential, "", new { @class = "text-danger" })
            <input type="text" name="Credential" id="Credential" class="form-control" placeholder="Email address" required>
            <span class="md-line"></span>
        </div>
        <div class="icon_mail">

            @Html.ValidationMessageFor(UserLogin => UserLogin.Name, "", new { @class = "text-danger" })
            <input type="text" name="Password" id="Password" class="form-control" placeholder="Your Name" required />
            <span class="icon_profile"></span>
        </div>
        <div class="input__item">

            @Html.ValidationMessageFor(UserLogin => UserLogin.Password, "", new { @class = "text-danger" })
            <input type="text" name="Name" id="Name" class="form-control" placeholder="Password" required>
            <span class="icon_lock"></span>
        </div>
        <button type="submit" class="site-btn">Login Now</button>*@

                       @using (Html.BeginForm())  // Form tag generation and CSRF protection
                       {
                           <div class="input__item">
                               @Html.ValidationMessageFor(UserLogin => UserLogin.Credential, "", new { @class = "text-danger" })
                               <input type="text" name="Credential" id="Credential" class="form-control" placeholder="Email address" required>
                               <span class="icon_mail"></span>
                           </div>
                           <div class="input__item">
                               @Html.ValidationMessageFor(UserLogin => UserLogin.Name, "", new { @class = "text-danger" })
                               <input type="text" name="Name" id="Name" class="form-control" placeholder="Your Name" required>
                               <span class="icon_profile"></span>
                           </div>
                           <div class="input__item">
                               @Html.ValidationMessageFor(UserLogin => UserLogin.Password, "", new { @class = "text-danger" })
                               @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @required = "required" })  <span class="icon_lock"></span>
                           </div>
                           @Html.AntiForgeryToken() <button type="submit" class="site-btn">Login Now</button>
                       }
                       @*<form action="#">
            <div class="input__item">
                <input type="text" placeholder="Email address">
                <span class="icon_mail"></span>
            </div>
            <div class="input__item">
                <input type="text" placeholder="Your Name">
                <span class="icon_profile"></span>
            </div>
            <div class="input__item">
                <input type="text" placeholder="Password">
                <span class="icon_lock"></span>
            </div>
            <button type="submit" class="site-btn">Login Now</button>
        </form>*@
                       <h5>Already have an account? <a href="@Url.Action("Index","Login")">Log In!</a></h5>
                   </div>
               </div>
               <div class="col-lg-6">
                    <div class="login__social__links">
                         <h3>Login With:</h3>
                         <ul>
                              <li>
                                   <a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With Facebook</a>
                              </li>
                              <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a></li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- Signup Section End -->
