@model FlixZone.Web.Models.CombinedModel

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
     <div class="container">
          <div class="row">
               <div class="col-lg-12">
                   <div class="breadcrumb__links">
                       <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home</a>
                       <a href="@Url.Action("Index","Categories")">Categories</a>
                       <a href="#">Romance</a>
                       @*<span>Fate Stay Night: Unlimited Blade</span>*@

                       <span>@Model.AnimeDetail.Anime_Name</span>

                   </div>
               </div>
          </div>
     </div>
</div>
<!-- Breadcrumb End -->
<!-- Anime Section Begin -->
<section class="anime-details spad">
     <div class="container">
          <div class="row">
               <div class="col-lg-12">
                    <div class="anime__video__player">
                         <video id="player" playsinline controls data-poster="@Model.AnimeDetail.Anime_Image">
                              <source src="@Model.AnimeDetail.Anime_Video" type="video/mp4" />
                              <!-- Captions are optional -->
                              <track kind="captions" label="English captions" src="#" srclang="en" default />
                         </video>
                    </div>
                    <div class="anime__details__episodes">
                         <div class="section-title">
                              <h5>List Name</h5>
                         </div>
                         <a href="#">Ep 01</a>
                         <a href="#">Ep 02</a>
                         <a href="#">Ep 03</a>
                         <a href="#">Ep 04</a>
                         <a href="#">Ep 05</a>
                         <a href="#">Ep 06</a>
                         <a href="#">Ep 07</a>
                         <a href="#">Ep 08</a>
                         <a href="#">Ep 09</a>
                         <a href="#">Ep 10</a>
                         <a href="#">Ep 11</a>
                         <a href="#">Ep 12</a>
                         <a href="#">Ep 13</a>
                         <a href="#">Ep 14</a>
                         <a href="#">Ep 15</a>
                         <a href="#">Ep 16</a>
                         <a href="#">Ep 17</a>
                         <a href="#">Ep 18</a>
                         <a href="#">Ep 19</a>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-lg-8">
                   <div class="anime__details__review">
                       <div class="section-title">
                           <h5>Reviews</h5>
                       </div>
                       @if (Model == null || !Model.Comment.Any())
                       {
                           <p>No comment available. Please check back later.</p>
                       }
                       else
                       {
                           int displayedCount = 0;

                           foreach (var comment in Model.Comment)
                           {
                               if (comment.Anime_Id == Model.AnimeDetail.Anime_Id)
                               {
                                   var user = Model.Users.FirstOrDefault(u => u.Id == comment.User_id);
                                   <div class="anime__review__item">
                                       <div class="anime__review__item__pic">
                                           <img src="Content/img/anime/review-6.jpg" alt="">
                                       </div>
                                       <div class="anime__review__item__text">
                                           <h6>@user.Username<span>@comment.Comment_Date</span></h6>
                                           <p>@comment.Content</p>
                                       </div>
                                   </div>

                                   if (displayedCount >= 6)
                                   {
                                       // Dacă s-au afișat deja 6 comentarii, ieșiți din buclă
                                       break;
                                   }
                               }
                           }
                       }
                   </div>
                    <div class="anime__details__form">
                        <div class="section-title">
                            <h5>Your Comment</h5>
                        </div>
                        @using (Html.BeginForm("AddComment", "Anime_Watching", new { animeId = Model.AnimeDetail.Anime_Id }))
                        {
                            <textarea name="content" placeholder="Your Comment"></textarea>
                            <input type="hidden" name="userId" value="@Model.User.User_Id" /> <!-- Assuming userId is hardcoded here -->
                            <button type="submit">Add Comment</button>
                        }
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- Anime Section End -->